body{
    background-color: rgb(44, 139, 202) !important;
}

*{
    font-family:'SiRWAN';
}

.row>*{
    
}

.card{
    border-radius: 0px !important;
}

@font-face {
	font-family: 'SiRWAN';
	src: url('fonts/SiRWAN_C.eot');
	src: local('☺'), url('fonts/SiRWAN_C.woff') format('woff'), url('fonts/SiRWAN_C.ttf') format('truetype'), url('fonts/SiRWAN_C.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
