body{
    background-color: #85C1E9 !important;
}

*{
    font-family:'SiRWAN';
}

.row>*{

}

.card{
    border-radius: 3px !important;
    border: 3px solid #2E86C1 !important;
}

@font-face {
	font-family: 'SiRWAN';
	src: url('fonts/SiRWAN_C.eot');
	src: local('☺'), url('fonts/SiRWAN_C.woff') format('woff'), url('fonts/SiRWAN_C.ttf') format('truetype'), url('fonts/SiRWAN_C.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.posts{

}

.sidebar {
    margin: 0;
    padding: 1%;

    background-color: #f1f1f1;
    position: fixed;
    height: 100vh;
    overflow: auto;

  }

  /* Sidebar links */
  .sidebar a {
      text-shadow: turquoise;
    display: block;
    color: black;
    padding-right: 7px;
    text-decoration: none;
    text-align: start;
  }

  .sidebar a:hover:not(.active) {
    background-color: #c7a1ba;
    color: white;
  }

  .sidebar p{
    padding-bottom: 4px;
    text-align: center;
    border-bottom: 1.3px solid rgb(0, 0, 0);
    margin-bottom: 1% !important;
    padding-top: 2% !important;
  }

  .dateselect[type="date"]{
    background-color: #0080ff;
    padding: 8px;



    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
